[Global]
# Path to the logfile (name of logfile is attached by the API)
# For Unix:
Logpath = /data/logs
# For Windows:
#Logpath = C:/ProgramData/Utimaco/PKCS11_R3

# Loglevel (0 = NONE; 1 = ERROR; 2 = WARNING; 3 = INFO; 4 = TRACE)
Logging = CS_PKCS11_LOGLEVEL
# Maximum size of the logfile in bytes (file is rotated with a backupfile if full)
Logsize = 10mb

# If true, every session establishs its own connection
SlotMultiSession = CS_PKCS11_MULTISESSION

# Maximum number of slots that can be used
SlotCount = CS_PKCS11_SLOTCOUNT

# If true, leading zeroes of decryption operations will be kept
KeepLeadZeros = false

# Configures load balancing mode ( == 0 ) or failover mode ( > 0 )
# In failover mode, n specifies the interval in seconds after which a reconnection attempt to the failed CryptoServer is started.
FallbackInterval = 0

# Prevents expiring session after inactivity of 15 minutes
KeepAlive = CS_PKCS11_KEEPALIVE

# Timeout of the open connection command in ms
ConnectionTimeout = 10000

# Timeout of command execution in ms
CommandTimeout = 60000

# List of official PKCS#11 mechanisms which should be customized
#CustomMechanisms = { CKM_AES_CBC CKM_AES_ECB }


# Created/Generated keys are stored in an external or internal database
KeysExternal = false

# [KeyStorage]
# Legacy SDB file
# KeyStorageType = Legacy
# Path to the external keystore
# For Unix:
# KeyStorageConfig = /data/P11.pks
# For Windows:
# KeyStorageConfig = C:/ProgramData/Utimaco/PKCS11_R3/P11.pks

# Database via ODBC
#KeyStorageType = ODBC
#KeyStorageConfig = "DSN=PSQL Ucapi External Storage"

[CryptoServer]
# Device specifier (here: CryptoServer is CSLAN with IP address 192.168.0.1)
Device = CRYPTOSERVER

#[CryptoServer]
# Device specifier (here: internal PCI device)
# For Unix:
#Device = /dev/cs2.0
# For Windows:
#Device = PCI:0

#[CryptoServer]
# Device specifier (here: remote device with IP address 192.168.0.1)
#Device = 192.168.0.1

#[CryptoServer]
# Device specifier (here: cluster of remote devices with IP addresses 192.168.0.2 and 192.168.0.3)
#Device = { 192.168.0.2 192.168.0.3 }

#[CryptoServer]
# Device specifier (here: cluster of simulators)
#Device = { 3001@127.0.0.1 3003@127.0.0.1 }

#[Slot]
# Slotsection for slot with number 0
#SlotNumber = 0
